.border {
	background-color: #FAFAFF;
	border: 1px solid gray;
}

.hidden {
	display: none;
}

#script-name {
  text-align: center;
  background: #5C9CCC url('../images/ui-bg_gloss-wave_55_5c9ccc_500x100.png') repeat-x scroll 50% 50%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

fieldset {
	padding:0;
	border:0;
	margin-top:25px;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}

#textarea-container {
	background-position: 100% bottom;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}

#button-bar {
	padding: 5px;
	margin-bottom: 20px;
}

.CodeMirror-line-numbers {
	color: gray;
	background-color: lightgray;
	padding: 5px;
	margin-right: 5px;
	font-family: monospace;
	font-size: 10pt;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.ui-tabs .ui-tabs-panel {
	padding: 2px;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 2px 4px 2px 4px;
	font-size: smaller;
}

tr {
	border: 1px solid #000;
}

a {
    color: #fff;
    font-weight: bold;
}